# Training results.
save_*

# Temporary files.
*.swp
.~*
*.pyc
*.swo

# Images.
*.png
*.jpg

# Compressed fiels.
*.tar.gz

# Json
*.json

# Data.
data/vqa_VGG16Conv_pool5_448
data/vqa_resnet_101_convfeat_448
data/VQA_prepro
data/VQA_anno
